<%- include('../partials/admin-header') -%>

    <div class="page-heading">
        <h1>All</h1>
        <span class="title"><span class="highlight">e</span>Journal<span class="highlight">Mo</span>Ko</span>
        <h1>Posts</h1>
    </div>

    <div class="general-posts-container pt-3">
        <!-- General posts -->
        <div class="posts-container">
            <p class="post-category">General</p>

            <% posts.forEach(e => { %>
                <div class="row g-0 rounded-3 mb-4 shadow-sm">
                    <div class="col-md-11 px-3 pt-3 pb-1">
                        <p class="post-message">
                            <%= e.message %>
                        </p>
                        
                        <div class="text-end">
                            <span class="post-date"><%= e.date %></span>
                        </div>
                    </div>
    
                    <div class="col-md-1 text-end text-md-center my-auto p-0">
                        <a href="#" class="btn btn-outline-secondary rounded-0" aria-current="page">
                            <i class="bi bi-pencil-square"></i>
                        </a>
    
                        <a href="#" class="btn btn-outline-dark rounded-0 ">
                            <i class="bi bi-archive"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
        
        <!-- Techonology posts -->
        <div class="posts-container">
            <p class="post-category">Techonology</p>

            <% posts.forEach(e => { %>
                <div class="row g-0 rounded-3 mb-4 shadow-sm">
                    <div class="col-md-11 px-3 pt-3 pb-1">
                        <p class="post-message">
                            <%= e.message %>
                        </p>
                        
                        <div class="text-end">
                            <span class="post-date"><%= e.date %></span>
                        </div>
                    </div>
    
                    <div class="col-md-1 text-end text-md-center my-auto p-0">
                        <a href="#" class="btn btn-outline-secondary rounded-0" aria-current="page">
                            <i class="bi bi-pencil-square"></i>
                        </a>
    
                        <a href="#" class="btn btn-outline-dark rounded-0 ">
                            <i class="bi bi-archive"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Politics posts -->
        <div class="posts-container">
            <p class="post-category">Politics</p>

            <% posts.forEach(e => { %>
                <div class="row g-0 rounded-3 mb-4 shadow-sm">
                    <div class="col-md-11 px-3 pt-3 pb-1">
                        <p class="post-message">
                            <%= e.message %>
                        </p>
                        
                        <div class="text-end">
                            <span class="post-date"><%= e.date %></span>
                        </div>
                    </div>
    
                    <div class="col-md-1 text-end text-md-center my-auto p-0">
                        <a href="#" class="btn btn-outline-secondary rounded-0" aria-current="page">
                            <i class="bi bi-pencil-square"></i>
                        </a>
    
                        <a href="#" class="btn btn-outline-dark rounded-0 ">
                            <i class="bi bi-archive"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Social Media posts -->
        <div class="posts-container">
            <p class="post-category">Social Media</p>

            <% posts.forEach(e => { %>
                <div class="row g-0 rounded-3 mb-4 shadow-sm">
                    <div class="col-md-11 px-3 pt-3 pb-1">
                        <p class="post-message">
                            <%= e.message %>
                        </p>
                        
                        <div class="text-end">
                            <span class="post-date"><%= e.date %></span>
                        </div>
                    </div>
    
                    <div class="col-md-1 text-end text-md-center my-auto p-0">
                        <a href="#" class="btn btn-outline-secondary rounded-0" aria-current="page">
                            <i class="bi bi-pencil-square"></i>
                        </a>
    
                        <a href="#" class="btn btn-outline-dark rounded-0 ">
                            <i class="bi bi-archive"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Lifestyle posts -->
        <div class="posts-container">
            <p class="post-category">Lifestyle</p>

            <% posts.forEach(e => { %>
                <div class="row g-0 rounded-3 mb-4 shadow-sm">
                    <div class="col-md-11 px-3 pt-3 pb-1">
                        <p class="post-message">
                            <%= e.message %>
                        </p>
                        
                        <div class="text-end">
                            <span class="post-date"><%= e.date %></span>
                        </div>
                    </div>
    
                    <div class="col-md-1 text-end text-md-center my-auto p-0">
                        <a href="#" class="btn btn-outline-secondary rounded-0" aria-current="page">
                            <i class="bi bi-pencil-square"></i>
                        </a>
    
                        <a href="#" class="btn btn-outline-dark rounded-0 ">
                            <i class="bi bi-archive"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<%- include('../partials/admin-footer') -%>
